/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and @media (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {
    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }
    
    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav li a {
        padding: 1px 24px;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }
}